body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Calibri', Sans-serif;
	color: white;
}

div.ratingHeader {
	background-color: rgb(50,50,50);
	height: 50px;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}


div.ratingHeader:hover {
	background-color: rgb(70,70,70);
}

div.ratingHeader p {
	display: inline-block;
}

div.rating {
	background-color: gray;
	margin: 0 auto;
	padding: 0;
	height: 500px;
	display: none;
	width: 100%;
}
